# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


#backend
/swipe-invoice-backend/node_modules
/swipe-invoice-backend/uploads
/swipe-invoice-backend/eng.traineddata
/swipe-invoice-backend/.env

#frontend 
/swipe-invoice-frontend/node_modules
/swipe-invoice-frontend/src/components/GoogleLoginButton.js

